

<MudCard Class="ma-4 pa-4" Elevation="4">
	<h3>SecondChildComponent</h3>
	<MudText>"@CascadingString" from SampleParentPage</MudText>
	<MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="@(() => InitiateNewString.InvokeAsync("What a wonderful new text!"))">Change Parent Text</MudButton>
</MudCard>
